In [ ]:
#Data 
revenue = [14574.49, 7606.46, 8611.41, 9175.41, 8058.65, 8105.44, 11496.28, 9766.09, 10305.32, 14379.96, 10713.97, 15433.50]
expenses = [12051.82, 5695.07, 12319.20, 12089.72, 8658.57, 840.20, 3285.73, 5821.12, 6976.93, 16618.61, 10054.37, 3803.96]

In [1]:
a=[1,2,3]

In [2]:
b=[4,5,6]

In [5]:
# Operations with two lists
ab=[]
for i in range(0, len(a)):
    ab.append(a[i] * b[i])
ab

[4, 10, 18]

In [6]:
doubled_a = [i* 2 for i in a]
doubled_a

[2, 4, 6]